* {
    margin: auto 0;
}

.nav {
    background-color: #218342;
}

.navbar {
    display: flex;
    /* justify-content: space-between; */
    text-align: center;
}

.logo-nav {
    width: 50%;
    padding: 5px;
}

.nav-gest-lab {
    font-size: x-large;
    color: #ffffff;
    border-color: 2px solid black;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}


.navbar ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.navbar ul li {
    padding: 10px 30px;
}

.navbar ul li a {
    padding: 2px;
}

.navbar ul li a:hover {
    border-bottom: 2px solid #ffffff;
}

.navbar ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

/* .btn-registrarse {
    border-radius: 4px;
    background-color: #145825;
    border: none;
    color: #FFFFFF;
    text-align: center;
    width: 150px;
    font-size: 16px;
    padding: 5px;
    /* transition: all 0.5s; */
    /* cursor: pointer;
    margin: 5px;
} */ 


.btn-registrarse:hover {
    opacity: .7;
}

.btn-login-nav{
    border-radius: 4px;
    background-color: #0f3118;
    border: none;
    color: #FFFFFF;
    text-align: center;
    width: 150px;
    font-size: 16px;
    padding: 5px;
    /* transition: all 0.5s; */
    cursor: pointer;
    margin: 5px;
}

.btn-login-nav:hover {
    opacity: .7;
}

.btn-logout-nav{
    border-radius: 4px;
    background-color: #ce3000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    width: 150px;
    font-size: 16px;
    padding: 5px;
    /* transition: all 0.5s; */
    cursor: pointer;
    margin: 5px;
}
.btn-logout-nav:hover{
    opacity: .7;
}